In [5]:
import pandas as pd
import scipy as scipy
from scipy.stats import chi2_contingency

In [6]:
df=pd.read_csv(r"C:\Users\User\Downloads\healthcare_dataset.csv")

In [9]:
df.head()

,Patient_ID,Age,Gender,BMI,Blood_Pressure,Cholesterol_Level,Diabetes,Hospital_Visits_Per_Year,Medication_Adherence,Smoking_Status,Exercise_Frequency
0,P001,69,Male,33.8,Hypertension,Normal,No,0,Poor,Non-Smoker,0
1,P002,32,Female,21.7,Hypertension,Normal,No,0,Good,Smoker,5
2,P003,78,Male,40.0,Hypertension,Low,No,7,Good,Smoker,2
3,P004,38,Male,24.2,Normal,High,No,1,Good,Smoker,6
4,P005,41,Female,39.5,Prehypertension,High,No,11,Good,Smoker,0

In [17]:
contingency_table=pd.crosstab(df['Smoking_Status'],df['Blood_Pressure'])

In [21]:
chi2,p,dof,expected=chi2_contingency(contingency_table)
contingency_table

Blood_Pressure  Hypertension  Normal  Prehypertension
Smoking_Status
Non-Smoker                15      42               19
Smoker                     9      10                5

In [23]:
chi2

3.1784188034188037

In [25]:
p

0.20408689872246732

In [27]:
dof

2

In [29]:
expected

array([[18.24, 39.52, 18.24],
       [ 5.76, 12.48,  5.76]])

In [ ]:
#ANOVA=NUMERICAL$CATEGORICAL
#CHISQUARE=CATEGORICAL
#T-TEST=MEANS

In [ ]:
#pd.set_option('Display max_columns',30)

In [31]:
contingency_table=pd.crosstab(df['Medication_Adherence'],df['Cholesterol_Level'])

In [33]:
chi2,p,dof,expected=chi2_contingency(contingency_table)

In [35]:
contingency_table

Cholesterol_Level     High  Low  Normal
Medication_Adherence
Good                    12   15      20
Moderate                 8    6      19
Poor                     5    4      11

In [37]:
chi2

2.725531914893617

In [39]:
p

0.6047543062438825

In [41]:
dof

4

In [45]:
expected

array([[11.75, 11.75, 23.5 ],
       [ 8.25,  8.25, 16.5 ],
       [ 5.  ,  5.  , 10.  ]])